/* ContactButton.module.css */
.contactBtn {
  background: none;
  color: #4aaa53;
  border: solid 3px #4aaa53;
  border-radius: 999px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.contactBtn:hover {
  background: #4aaa53;
  color: white;
  border: solid 3px #4aaa53;
}

.contactBtnAlt {
  background: none;
  color: white;
  border: solid 3px white;
  border-radius: 999px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.contactBtnAlt:hover {
  background: black;
  color: white;
  border: solid 3px black;
}
