.navbar {
  font-size: 20px;
  margin-top: 20px;
  background-color: #4aaa53;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navlink {
  color: white;
  transition: all 0.3s ease;
}

.navlink:hover {
  color: black;
}

.navbrand {
  font-size: 50px;
  font-family: "Snell Roundhand", cursive;
  font-weight: bold;
  margin-left: 0.1vw;
  color: white;
}

.navbrand:hover {
  color: white;
}
