.skillsContainer {
  position: relative;
  padding-bottom: 100px;
}

.colorBar {
  background-color: #4aaa53;
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  z-index: -10;
}

.skillsPanel {
  border-radius: 25px;
  width: 90%;
  background-color: white;

  border: 1px solid lightgray;
  /* box-shadow: 2px 5px rgba(1, 1, 1, 0.1); */
}

.skillRow {
  border-radius: 25px;
  min-height: 1000px;
}

.skillCol {
  height: 100%;
  min-height: 1000px;
}

.skillTitle {
  font-family: "eurostile", sans-serif;
  font-weight: 800;
  color: #141c3a;
  margin-bottom: 20px;
}

.skillSubtitle {
  font-family: "europa", sans-serif;
  color: #141c3a;
  margin-bottom: 40px;
}

.skillAccentTitle {
  font-family: "europa", sans-serif;
  color: #4aaa53;
}
