body
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profileDiv
{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./images/austin_night_cropped.jpg");
    background-size: cover;
    min-height: 1000px;
    padding-top: 350px;
}